extends layouts/main-layout

block content
    script. 
        var userLoggedInJs=!{userLoggedInJs_chat}
    if errorMessage 
        span.errorMsg #{errorMessage}
    else 
        script. 
            var chatID='!{chat._id}'
        script. 
            var chatJs=!{chatJs}
        .chatPageContainer 
            .chatTitleBarContainer 
                +createChatImage(chat,userLoggedIn_chat)
                span#chatName(data-toggle='modal',data-target="#chatNameModal") #{chat.chatName?chat.chatName:'This is the chat'}
            
            .mainContentContainer 
                .loadingSpinnerContainer 
                    img(src='/images/loadingSpinner.gif',alt='Loading spinner')
                .chatContainer(styles="visibility:hidden" data-room=`${chat._id}`) 
                    //- css style visibility for loadingSPinner //data-room=`${chat._id}` or chat._id adding data-attr for clientSocket fronendJs
                    ul.chatMessages

                    .typingDots
                        img(src="/images/dots.gif" alt='typing dots')

                    .footer 
                        textarea.inputTextbox(name="messageinput", placeholder='Type a messsage...')
                        button.sendMessageButton 
                            i.fas.fa-paper-plane 

                        //- using .inputTextbox not #inputTextbox as former's related fn in chatPageJs will be applied to all w class .inputTextbox 
                        //- whilst the latter one is unique can only attached to one htmlEl; using '.' not '#' if plan to create multiple pop up windows/chats

        +createChatNameModal(chat)

block scripts 
    script(src='/js/chatPage.js')
    //-need .js here; from joint public folder (joint in app.js)
