extends layouts/main-layout
//- similar to home.pug here

block content
    script. 
        //-var userLoggedInJs_post=!{userLoggedInJs_post} //but use userLoggedInJs in common.js
        var userLoggedInJs=!{`${userLoggedInJs_post}`}
        //-!{`${userLoggedInJs_post}`} or !{userLoggedInJs_post}
    script. 
        var postID='!{`${postID}`}'
        //- postID='!{`${postID}`}' or postID='!{postID}'
        //-////- if postID=!{postID} or !{`${postID}`}, then <div data- numberish/nonString>; stringify postID; <div data- string>; - to be used in postPage.js (isStringType from postRoutes)
        //-////- otherwise syntax error - invalid or unexpected token; also postID undefined in postPage.js
        //-var postID=!{postID}; var postID is string; var postID='!{postID}'; var postID is string too
    //-.testLoginUserPost(data-currentUser=`${userLoggedInJs_post}` data-postid='postID')
        //-`${userLoggedInJs_post}` or userLoggedInJs_post or userLoggedIn_post; =postID or =`${postID}`
    
        //-script. 
            var postID='!{postID}'
        //- in parallel with (/before).testLoginUserPost or here pushed inside .testLoginUserPost in parallel with .postsContainer
    //-if testLoginUserPost, push below inside testLoginUserPost
    .postsContainer
    //-(data-testuser=userLoggedIn_post) or `${userLoggedInJs_post}` or userLoggedInJs_post

    +createReplyModal(userLoggedIn_post)
    +createDeletePostModal(userLoggedIn_post)

block scripts 
    script(src='/js/postPage.js')