extends layouts/main-layout
//- similar to home.pug or postPage here

block content
    //-p
        p #{userLoggedInJs_profile} #{typeof userLoggedInJs_profile} #{`${userLoggedInJs_profile}`} #{typeof `${userLoggedInJs_profile}`}
        p #{userLoggedIn_profile} #{typeof userLoggedIn_profile} #{`${userLoggedIn_profile}`} #{typeof `${userLoggedIn_profile}`}
        p #{profileUser} #{typeof profileUser} #{`${profileUser}`} #{typeof `${profileUser}`}
        //-userLoggedInJs_profile {"x":"y","a":["b","c"]} stirng ; userLoggedInJs_profile:[object Object] obj then string
        //-profileUser: {x:'y',a:[b,c],a:b (date or _id)} stirng
        p #{userLoggedInJs_profile._id} #{typeof userLoggedInJs_profile._id} #{`${userLoggedInJs_profile._id}`} #{typeof `${userLoggedInJs_profile._id}`}
        //- undefined undefined emptyString
        p #{userLoggedIn_profile._id} #{typeof userLoggedIn_profile._id} #{`${userLoggedIn_profile._id}`} #{typeof `${userLoggedIn_profile._id}`}
        //-xx string xx stirng
        p #{profileUser._id} #{typeof profileUser._id} #{`${profileUser._id}`} #{typeof `${profileUser._id}`}
        //- xx obj xx string
        p #{selectReplies} #{typeof selectReplies} #{`${selectReplies}`} #{typeof `${selectReplies}`}
        //-undefined undefined emptyStirng
        p #{profileUser.id} #{typeof profileUser.id} #{`${profileUser.id}`} #{typeof `${profileUser.id}`}
        //-xx string xx string
    //-p
        p #{JSON.stringify(userLoggedInJs_profile)} #{typeof JSON.stringify(userLoggedInJs_profile)} #{`${JSON.stringify(userLoggedInJs_profile)}`} #{typeof `${JSON.stringify(userLoggedInJs_profile)}`}
        //-"{\"x\":\"y\",\"a\":[\"b\",\"c\"]}" stirng
        p #{JSON.stringify(userLoggedIn_profile)} #{typeof JSON.stringify(userLoggedIn_profile)} #{`${JSON.stringify(userLoggedIn_profile)}`} #{typeof `${JSON.stringify(userLoggedIn_profile)}`}
        p #{JSON.stringify(profileUser)} #{typeof JSON.stringify(profileUser)} #{`${JSON.stringify(profileUser)}`} #{typeof `${JSON.stringify(profileUser)}`}
        //-{"x":"y","a":["b","c"]} stirng
        p #{JSON.stringify(userLoggedInJs_profile._id)} #{typeof JSON.stringify(userLoggedInJs_profile._id)} #{`${JSON.stringify(userLoggedInJs_profile._id)}`} #{typeof `${JSON.stringify(userLoggedInJs_profile._id)}`}
        //- undefined undefined empty string
        p #{JSON.stringify(userLoggedIn_profile._id)} #{typeof JSON.stringify(userLoggedIn_profile._id)} #{`${JSON.stringify(userLoggedIn_profile._id)}`} #{typeof `${JSON.stringify(userLoggedIn_profile._id)}`}
        p #{JSON.stringify(profileUser._id)} #{typeof JSON.stringify(profileUser._id)} #{`${JSON.stringify(profileUser._id)}`} #{typeof `${JSON.stringify(profileUser._id)}`}
        //- "xx" stirng "xx" stirng
        p #{JSON.stringify(selectReplies)} #{typeof JSON.stringify(selectReplies)} #{`${JSON.stringify(selectReplies)}`} #{typeof `${JSON.stringify(selectReplies)}`}
        //- undefined undefined empty string
        p #{JSON.stringify(profileUser.id)} #{typeof JSON.stringify(profileUser.id)} #{`${JSON.stringify(profileUser.id)}`} #{typeof `${JSON.stringify(profileUser.id)}`}
        //- "xx" stirng "xx" stirng
    //-p
        p #{JSON.parse(JSON.stringify(userLoggedInJs_profile))} #{typeof JSON.parse(JSON.stringify(userLoggedInJs_profile))} #{`${JSON.parse(JSON.stringify(userLoggedInJs_profile))}`} #{typeof `${JSON.parse(JSON.stringify(userLoggedInJs_profile))}`}
        //-//-{"x":"y","a":["b","c"]} stirng
        p #{JSON.parse(JSON.stringify(userLoggedIn_profile))} #{typeof JSON.parse(JSON.stringify(userLoggedIn_profile))} #{`${JSON.parse(JSON.stringify(userLoggedIn_profile))}`} #{typeof `${JSON.parse(JSON.stringify(userLoggedIn_profile))}`}
        p #{JSON.parse(JSON.stringify(profileUser))} #{typeof JSON.parse(JSON.stringify(profileUser))} #{`${JSON.parse(JSON.stringify(profileUser))}`} #{typeof `${JSON.parse(JSON.stringify(profileUser))}`}
        //-[object Object] object [object Object] string
        //-p #{JSON.parse(JSON.stringify(userLoggedInJs_profile._id))} #{typeof JSON.parse(JSON.stringify(userLoggedInJs_profile._id))} #{`${JSON.parse(JSON.stringify(userLoggedInJs_profile._id))}`} #{typeof `${JSON.parse(JSON.stringify(userLoggedInJs_profile._id))}`}
        //- 
        p #{JSON.parse(JSON.stringify(userLoggedIn_profile._id))} #{typeof JSON.parse(JSON.stringify(userLoggedIn_profile._id))} #{`${JSON.parse(JSON.stringify(userLoggedIn_profile._id))}`} #{typeof `${JSON.parse(JSON.stringify(userLoggedIn_profile._id))}`}
        p #{JSON.parse(JSON.stringify(profileUser._id))} #{typeof JSON.parse(JSON.stringify(profileUser._id))} #{`${JSON.parse(JSON.stringify(profileUser._id))}`} #{typeof `${JSON.parse(JSON.stringify(profileUser._id))}`}
        //- xx stirng xx stirng
        //-p #{JSON.parse(JSON.stringify(selectReplies))} #{typeof JSON.parse(JSON.stringify(selectReplies))} #{`${JSON.parse(JSON.stringify(selectReplies))}`} #{typeof `${JSON.parse(JSON.stringify(selectReplies))}`}
        //- 
        p #{JSON.parse(JSON.stringify(profileUser.id))} #{typeof JSON.parse(JSON.stringify(profileUser.id))} #{`${JSON.parse(JSON.stringify(profileUser.id))}`} #{typeof `${JSON.parse(JSON.stringify(profileUser.id))}`}
        //- xx stirng xx stirng

    script. 
        //-var userLoggedInJs_profile=!{userLoggedInJs_profile} //but use userLoggedInJs in common.js
        var userLoggedInJs=!{userLoggedInJs_profile}
        //-!{userLoggedInJs_profile} or !{`${userLoggedInJs_profile}`} //obj var xx={"xx":"xxx","yy":"yyy"} //!=># console err & xx={&}
        //- !{userLoggedIn_profile} or !{`${userLoggedIn_profile}`} var xx=[obj obj] error in front console//same if !=>#
        //- '!{userLoggedInJs_profile}' or '!{`${userLoggedInJs_profile}`}' bothplain specific strings var xx="{"xx":"xxx","yy":"yyy"}" 
        //- !=>#:still plain strings & var xx="{&&;&}"
        //-'!{`${userLoggedIn_profile}`}' [obj obj] stirng or '[obj obj]' //same for '!{userLoggedIn_profile}' //same if !=>#
    //-.testLoginUserProfile(data-currentUser=`${userLoggedInJs_profile}`)
        //-`${userLoggedInJs_profile}` or userLoggedInJs_profile or (userLoggedIn_profile or not)
    //-if testLoginUserProfile, push below inside testLoginUserProfile
    if !profileUser
        span.errMsg User not found - check the URL you are trying to access
    else
        script. 
            var profileID='!{profileUser._id}'
            //-var profileID='!{`${profileUser._id}`}' or '!{profileUser._id}' ok strings //or '!{`${selectedTab}`}' '!{selectedTab}'
            //-profileID='#{`${profileUser._id}`}' OR profileID='#{profileUser._id}' //strings
            //-above can be applied to '/profile' or '/profile/xx'; above replacing ._id with .id can be applied only to '/profile/xx';'/profile' w .id->empty str
            //-removing quotes incur error for ._id (backend obj) & .id (backend string)
        script. 
            var selected='!{selectedTab}'
            //-alert(selected) //if no 'replies', "undefined" string for '!{`${selectedTab}`}'; "" empty string for '!{selectedTab}'
        script. 
            var selectRps='!{selectReplies}'
            //-alert(selectRps)
            //-alert(typeof selectRps) //string "" or "true"
            //-if false (as router.get('/:username') @profileRoutes.js not set selectReplies=false)& selectRps=!{selectReplies}, alert shows undefined n web shows all posts
            //-selectRps=!{selectReplies} true boolean (undefined&undefined vs/or error) shown in alert here & profilePage.js //likewise #{selectReplies}
            //-!{`${selectReplies}`} OR #{`${selectReplies}`} true boolean undefined undefined (var xx=undefined (while above or right var xx=))//#{selectReplies} or !{selectReplies} TRUE BOOLEAN OTHERWISE ERROR
            //- selectRps='!{`${selectReplies}`}' "true" string or undefined string @alert&profilePage.js; selectRps='!{selectReplies}' "true" string or empty stirng '' @alert&profilePage
            //-selectRps='#{`${selectReplies}`}' OR selectRps='#{selectReplies}' SAME TYPE AS ABOVE
            //- if router.get('/:username') @profileRoutes.js set selectReplies=false, then above false (boolean) or "false" (str) -> same type as true "true"
        //-span #{profileUser.fName}
        //-.profileHeaderContainer

        - followersCount=profileUser.followers.length 
        - followingCount=profileUser.following.length 
            //-left-hand-side still used in pug here (not in scriptsJS); left+right used in pug by using #{} or =`${}`
        .profileHeaderContainer
            .coverPhotoSection 

                .coverPhotoContainer
                    //-add upload btn to the cover photo section //no default pic as profilePic; just blue bg
                    if profileUser.coverPhoto 
                        //-if profileUser.coverPhoto!==undefined  //both ok
                        img(src=`${profileUser.coverPhoto}`,alt="User's cover photo")
                        //-src=profileUser.coverPhoto //both ok
                        
                    if profileUser._id==userLoggedIn_profile._id 
                            button.coverPhotoButton(data-toggle='modal',data-target="#coverPhotoUploadModal")
                                i.fas.fa-camera
                

                .userImageContainer 
                    img(src=`${profileUser.profilePic}`,alt="User profile image")
                        //- or src=profileUser.profilePic //default pic

                    //-add upload profile photo images functiona
                    if profileUser._id==userLoggedIn_profile._id 
                        button.profilePictureButton(data-toggle='modal',data-target="#imageUploadModal")
                            i.fas.fa-camera

            .profileButtonsContainer
                if profileUser._id!=userLoggedIn_profile._id 
                    //- this is pug if statement
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fas.fa-envelope
                    
                    //- if(userLoggedIn_profile.following && userLoggedIn_profile.following.includes(profileUser._id)) //could do
                    - var profileUsrid=profileUser._id.toString()
                    - if(userLoggedIn_profile.following && userLoggedIn_profile.following.includes(profileUsrid))
                        //- .includes in js (js in pug) not pug lang so add '-' b4 if and add parentheses after if; this is js if Not pug if
                        //- but still use pug variables directly from payload profileRoutes.js NOt scripts var from pug here to JS profilePage.js
                        //- could use pug val profileUser._id (obj type) inside .includes (auto cast); or use - var profileUsrid
                        //- profileUsrid (js in pug -), profileUser._id userLoggedIn_profile.following (non-api-routes payload) etc used in pug here using #{} or =`${}`
                        //-p #{profileUser._id} #{typeof profileUser._id} #{profileID} #{typeof profileID} //xx obj //undefined
                        +createFollowButton(profileUser,true)
                    - else 
                        //- this is js else; not pug else
                        //-p #{profileUser._id} #{typeof profileUser._id} #{profileID} #{typeof profileID} //xx obj //undefined
                        +createFollowButton(profileUser,false)

            .userDetailsContainer
                span.displayName=`${profileUser.fName} ${profileUser.lName}`
                //- or span.displayName #{profileUser.fName} #{profileUser.lName}
                span.username=`@${profileUser.username}`
                //-or span.username #{profileUser.fName}
                span.description #{profileUser.description}

                .followersContainer 
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`)
                        span#followersValue.value=`${followersCount}`
                        span Followers
        
        .tabsContainer
            +createTab("Posts",`/profile/${profileUser.username}`,!selectReplies)
            //- selectReplies!=true
            +createTab("Replies",`/profile/${profileUser.username}/replies`,selectReplies)
            //-selectReplies==true //selectReplies is boolean type
            //- or +createTab("Posts",`/profile/${profileUser.username}`,selectedTab!="replies")
            //- or +createTab("Replies",`/profile/${profileUser.username}/replies`,selectedTab=="replies")


        .pinnedPostContainer


        .postsContainer(data-selectRps=`${selectReplies}` data-profid=`${profileUser._id}` data-profUsr=JSON.stringify(profileUser) data-usr=userLoggedInJs_profile)
        //- for testing (data-selectRps=JSON.stringify(selectReplies) data-profid=JSON.stringify(profileUser._id) data-profUsr=JSON.stringify(profileUser) data-usr=`${userLoggedInJs_profile}`)
        //- (data-selectRps=`${selectReplies}`) better not data-selectRps=selectReplies; data-profid=profileUser._id or `${profileUser._id}` strings both
        //-(data-testuser=`${userLoggedInJs_profile}` data-profileusr=profileUser)
        //- or userLoggedInJs_profile or userLoggedIn_profile ; NO `${userLoggedIn_profile}` NOR `${profileUser}`

        +createReplyModal(userLoggedIn_profile)
        +createDeletePostModal(userLoggedIn_profile)
        +createPinnedPostModal(userLoggedIn_profile)
        
        //-uploda profileimage
        +createImageUploadModal(userLoggedIn_profile)

        +createCoverPhotoUploadModal(userLoggedIn_profile)

block scripts 
    script(src='/js/profilePage.js')
