extends layouts/main-layout
//- similar to home.pug or postPage here

block content

    script. 
        var userLoggedInJs=!{userLoggedInJs_profile}

    if !profileUser
        span.errMsg User not found - check the URL you are trying to access
    else
        script. 
            var profileID='!{profileUser._id}'
        script. 
            var selected='!{selectedTab}'
        script. 
            var selectRps='!{selectReplies}'

        - var followersCount=profileUser.followers.length 
        - var followingCount=profileUser.following.length 

        .profileHeaderContainer
            .coverPhotoSection 

                .coverPhotoContainer

                    if profileUser.coverPhoto 
                        //-if profileUser.coverPhoto!==undefined 
                        img(src=`${profileUser.coverPhoto}`,alt="User's cover photo")
                        //-src=profileUser.coverPhoto
                        
                    if profileUser._id==userLoggedIn_profile._id 
                            button.coverPhotoButton(data-toggle='modal',data-target="#coverPhotoUploadModal")
                                i.fas.fa-camera
                

                .userImageContainer 
                    img(src=`${profileUser.profilePic}`,alt="User profile image")
                        //- src=profileUser.profilePic //default pic

                    //-add upload profile photo images functiona
                    if profileUser._id==userLoggedIn_profile._id 
                        button.profilePictureButton(data-toggle='modal',data-target="#imageUploadModal")
                            i.fas.fa-camera

            .profileButtonsContainer
                if profileUser._id!=userLoggedIn_profile._id 
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fas.fa-envelope
                    
                    //- if(userLoggedIn_profile.following && userLoggedIn_profile.following.includes(profileUser._id)) //could do
                    - var profileUsrid=profileUser._id.toString()
                    - if(userLoggedIn_profile.following && userLoggedIn_profile.following.includes(profileUsrid))
                        +createFollowButton(profileUser,true)
                    - else 
                        //- this is js else; not pug else
                        +createFollowButton(profileUser,false)

            .userDetailsContainer
                span.displayName=`${profileUser.fName} ${profileUser.lName}`
                //- or span.displayName #{profileUser.fName} #{profileUser.lName}
                span.username=`@${profileUser.username}`
                //-or span.username #{profileUser.fName}
                span.description #{profileUser.description}

                .followersContainer 
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`)
                        span#followersValue.value=`${followersCount}`
                        span Followers
        
        .tabsContainer
            +createTab("Posts",`/profile/${profileUser.username}`,!selectReplies)
            //- selectReplies!=true
            +createTab("Replies",`/profile/${profileUser.username}/replies`,selectReplies)
            //-selectReplies==true //selectReplies is boolean type
            //- or +createTab("Posts",`/profile/${profileUser.username}`,selectedTab!="replies")
            //- or +createTab("Replies",`/profile/${profileUser.username}/replies`,selectedTab=="replies")


        .pinnedPostContainer


        .postsContainer(data-selectRps=`${selectReplies}` data-profid=`${profileUser._id}` data-profUsr=JSON.stringify(profileUser) data-usr=userLoggedInJs_profile)

        +createReplyModal(userLoggedIn_profile)
        +createDeletePostModal(userLoggedIn_profile)
        +createPinnedPostModal(userLoggedIn_profile)
        
        //-uploda profileimage
        +createImageUploadModal(userLoggedIn_profile)

        +createCoverPhotoUploadModal(userLoggedIn_profile)

block scripts 
    script(src='/js/profilePage.js')
